.cart-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  img {
    width: 200px;
    height: 200px;
  }
  .price {
    font-size: 40px;
    color: green;
  }
  button {
    padding: 5px;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  .button-ok {
    background-color: green;
  }
  .button-delete {
    background-color: rgb(158, 0, 0);
  }
}