.header {
  width: 100%;
  margin: 0 0 30px 0;
}
.navi {
  width: 100%;
  display: flex;
  font-size: 20px;
  background-color: black;
  li {
    padding: 20px;
    transition: 0.2s;
    &:hover, &active {
      background-color: white;
      a {
        color: black;
      }
    }
    a {
      color: white;
    }
  }
}